//VANILLA
@keyframes drift {
  0% { transform: translateX(0); }
  100% { transform: translateX(1920px); }
}

@keyframes bounce {
  from, 60%, 75%, 90%, 100% {
    animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
  }
  0% {
    opacity: 0;
    transform: translate3d(0, -3000px, 0);
  }
  60% {
    opacity: 1;
    transform: translate3d(0, 25px, 0);
  }
  75% {
    transform: translate3d(0, -10px, 0);
  }
  90% {
    transform: translate3d(0, 5px, 0);
  }
  100% {
    transform: none;
  }
}

@keyframes toBottomFromTop {
  49% {
    transform: translateY(100%);
  }
  50% {
    opacity: 0;
    transform: translateY(-100%);
  }
  51% {
    opacity: 1;
  }
}
@-moz-keyframes toBottomFromTop {
  49% {
    transform: translateY(100%);
  }
  50% {
    opacity: 0;
    transform: translateY(-100%);
  }
  51% {
    opacity: 1;
  }
}
@keyframes toBottomFromTop {
  49% {
    transform: translateY(100%);
  }
  50% {
    opacity: 0;
    transform: translateY(-100%);
  }
  51% {
    opacity: 1;
  }
}

@keyframes flyDown {
  0% {
    transform: translateY(-100vh);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes flyUp {
  0% {
    transform: translateY(100vh);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes flyLeft {
  0% {
    transform: translateX(50vw);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes popIn {
  0% {
    transform: scale(0,0);
  }
  50% {
    transform: scale(1.2,1.2)
  }
  70% {
    transform: scale(0.9, 0.9)
  }
  100% {
    transform: scale(1, 1)
  }
}

//WEBKITS
@-webkit-keyframes drift {
  0% { -webkit-transform: translateX(0); }
  100% { -webkit-transform: translateX(1920px); }
}

@-webkit-keyframes bounce {
  from, 60%, 75%, 90%, 100% {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
  }
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -3000px, 0);
    transform: translate3d(0, -3000px, 0);
  }
  60% {
    opacity: 1;
    -webkit-transform: translate3d(0, 25px, 0);
    transform: translate3d(0, 25px, 0);
  }
  75% {
    -webkit-transform: translate3d(0, -10px, 0);
    transform: translate3d(0, -10px, 0);
  }
  90% {
    -webkit-transform: translate3d(0, 5px, 0);
    transform: translate3d(0, 5px, 0);
  }
  100% {
    -webkit-transform: none;
    transform: none;
  }
}

@-webkit-keyframes toBottomFromTop {
  49% {
    -webkit-transform: translateY(100%);
  }
  50% {
    opacity: 0;
    -webkit-transform: translateY(-100%);
  }
  51% {
    opacity: 1;
  }
}
@-moz-keyframes toBottomFromTop {
  49% {
    -webkit-transform: translateY(100%);
  }
  50% {
    opacity: 0;
    -webkit-transform: translateY(-100%);
  }
  51% {
    opacity: 1;
  }
}
@-webkit-keyframes toBottomFromTop {
  49% {
    -webkit-transform: translateY(100%);
  }
  50% {
    opacity: 0;
    -webkit-transform: translateY(-100%);
  }
  51% {
    opacity: 1;
  }
}

@-webkit-keyframes flyDown {
  0% {
    -webkit-transform: translateY(-100vh);
  }
  100% {
    -webkit-transform: translateY(0);
  }
}

@-webkit-keyframes flyUp {
  0% {
    -webkit-transform: translateY(100vh);
  }
  100% {
    -webkit-transform: translateY(0);
  }
}

@-webkit-keyframes flyLeft {
  0% {
    -webkit-transform: translateX(50vw);
  }
  100% {
    -webkit-transform: translateX(0);
  }
}

@-webkit-keyframes popIn {
  0% {
    -webkit-transform: scale(0,0);
  }
  50% {
    -webkit-transform: scale(1.2,1.2)
  }
  70% {
    -webkit-transform: scale(0.9, 0.9)
  }
  100% {
    -webkit-transform: scale(1, 1)
  }
}
