body {
  overflow: hidden;
  margin: 0;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  font-family: 'Open Sans'; }

a {
  text-decoration: none;
  color: #49b9c0; }

.light {
  font-weight: 300; }

.clouds.inverse {
  opacity: 0.05;
  z-index: 99;
  position: relative;
  -webkit-transform: scaleY(-1); }
  .clouds.inverse .cloud {
    pointer-events: none;
    bottom: 0;
    top: -99vh; }
.clouds .cloud {
  height: 50vh;
  width: 8000px;
  left: -2000px;
  position: absolute; }
.clouds #cloud-1 {
  background: url("../images/clouds1.png");
  background-repeat-y: no-repeat;
  background-repeat-x: repeat;
  background-position: bottom left;
  animation: drift 300s linear;
  animation-iteration-count: infinite;
  z-index: 3; }
.clouds #cloud-2 {
  background: url("../images/clouds2.png");
  background-repeat-y: no-repeat;
  background-repeat-x: repeat;
  background-position: bottom left;
  animation: drift 250s linear;
  animation-iteration-count: infinite;
  z-index: 2; }
.clouds #cloud-3 {
  background: url("../images/clouds3.png");
  background-repeat-y: no-repeat;
  background-repeat-x: repeat;
  background-position: bottom left;
  animation: drift 200s linear;
  animation-iteration-count: infinite;
  background-color: #2f98b6;
  z-index: 1; }
@keyframes drift {
  0% {
    transform: translateX(0); }
  100% {
    transform: translateX(1920px); } }
section.about {
  width: 42%;
  height: 100%;
  left: 3%;
  position: absolute; }
  section.about .about-box {
    display: none;
    position: absolute;
    top: 0;
    bottom: 0;
    height: 740px;
    width: 85%;
    margin: auto auto;
    z-index: 99;
    max-width: 550px;
    left: 0;
    right: 0; }
    section.about .about-box .myface {
      margin: 0 auto;
      margin-top: 50px;
      position: absolute;
      left: 0;
      right: 0;
      -webkit-animation: bounce .6s ease;
      animation: bounce .6s ease; }
    section.about .about-box .up-arrow {
      display: block;
      margin: 25px auto;
      margin-top: 275px; }
    section.about .about-box .header {
      display: block;
      text-align: center;
      font-size: 23pt;
      color: #49b9c0;
      margin-bottom: 15px;
      font-weight: 600; }
    section.about .about-box .detail {
      display: block;
      font-size: 16pt;
      color: #555;
      margin-left: 20px;
      line-height: 24pt; }

@keyframes bounce {
  from, 60%, 75%, 90%, 100% {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1); }
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -3000px, 0);
    transform: translate3d(0, -3000px, 0); }
  60% {
    opacity: 1;
    -webkit-transform: translate3d(0, 25px, 0);
    transform: translate3d(0, 25px, 0); }
  75% {
    -webkit-transform: translate3d(0, -10px, 0);
    transform: translate3d(0, -10px, 0); }
  90% {
    -webkit-transform: translate3d(0, 5px, 0);
    transform: translate3d(0, 5px, 0); }
  100% {
    -webkit-transform: none;
    transform: none; } }
section.stack {
  display: none;
  width: 42%;
  right: 0;
  height: 100%;
  position: absolute; }
  section.stack .badges-box {
    position: absolute;
    top: 0;
    bottom: 0;
    height: 685px;
    margin: auto auto;
    left: 0;
    right: 0;
    width: 392px; }
  section.stack .box {
    height: 140px;
    width: 128px;
    cursor: pointer;
    position: absolute;
    z-index: 99; }
    section.stack .box#box-1 {
      top: 0;
      left: 0;
      animation: flyDown .45s; }
      section.stack .box#box-1.move .badge {
        transform: translate(0, -116px); }
    section.stack .box#box-2 {
      top: 0;
      left: 131px;
      animation: flyUp .45s; }
      section.stack .box#box-2.move .badge {
        transform: translate(116px, -68px); }
    section.stack .box#box-3 {
      top: 109px;
      left: 63px;
      animation: flyLeft .45s; }
      section.stack .box#box-3.move .badge {
        transform: translate(-116px, 68px); }
    section.stack .box#box-4 {
      top: 218px;
      left: 132px;
      animation: flyDown .65s; }
      section.stack .box#box-4.move .badge {
        transform: translate(-116px, 68px); }
    section.stack .box#box-5 {
      top: 219px;
      left: 265px;
      animation: flyUp .65s; }
      section.stack .box#box-5.move .badge {
        transform: translate(0, -116px); }
    section.stack .box#box-6 {
      top: 326px;
      left: 200px;
      animation: flyLeft .65s; }
      section.stack .box#box-6.move .badge {
        transform: scale(0, 0); }
    section.stack .box#box-7 {
      top: 433px;
      left: 136px;
      animation: flyDown .3s; }
      section.stack .box#box-7.move .badge {
        transform: translate(-116px, -68px); }
    section.stack .box#box-8 {
      top: 434px;
      left: 268px;
      animation: flyUp .3s; }
      section.stack .box#box-8.move .badge {
        transform: translate(116px, 0); }
    section.stack .box#box-9 {
      top: 542px;
      left: 69px;
      animation: flyLeft .3s; }
      section.stack .box#box-9.move .badge {
        transform: translate(-116px, 0); }
    section.stack .box#box-10 {
      top: 542px;
      left: 201px;
      animation: flyUp .45s; }
      section.stack .box#box-10.move .badge {
        transform: translate(0, 116px); }
    section.stack .box .badge {
      width: 100%;
      height: 100%;
      transition: transform .2s;
      position: relative;
      z-index: 2; }
      section.stack .box .badge#badge-1 {
        background: url("../images/badges/badge1.png");
        background-size: 100%;
        background-repeat: no-repeat; }
      section.stack .box .badge#badge-2 {
        background: url("../images/badges/badge2.png");
        background-size: 100%;
        background-repeat: no-repeat; }
      section.stack .box .badge#badge-3 {
        background: url("../images/badges/badge3.png");
        background-size: 100%;
        background-repeat: no-repeat; }
      section.stack .box .badge#badge-4 {
        background: url("../images/badges/badge4.png");
        background-size: 100%;
        background-repeat: no-repeat; }
      section.stack .box .badge#badge-5 {
        background: url("../images/badges/badge5.png");
        background-size: 100%;
        background-repeat: no-repeat; }
      section.stack .box .badge#badge-6 {
        background: url("../images/badges/badge6.png");
        background-size: 100%;
        background-repeat: no-repeat; }
      section.stack .box .badge#badge-7 {
        background: url("../images/badges/badge7.png");
        background-size: 100%;
        background-repeat: no-repeat; }
      section.stack .box .badge#badge-8 {
        background: url("../images/badges/badge8.png");
        background-size: 100%;
        background-repeat: no-repeat; }
      section.stack .box .badge#badge-9 {
        background: url("../images/badges/badge9.png");
        background-size: 100%;
        background-repeat: no-repeat; }
      section.stack .box .badge#badge-10 {
        background: url("../images/badges/badge10.png");
        background-size: 100%;
        background-repeat: no-repeat; }
    section.stack .box span {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      margin: auto auto;
      text-align: center;
      line-height: 104pt;
      font-size: 16pt;
      color: #fff;
      z-index: 1; }

section.connect .info-box {
  position: absolute;
  width: 100%;
  bottom: 20px;
  z-index: 14;
  color: #fff;
  letter-spacing: .1em;
  font-weight: 300;
  font-size: 10pt;
  left: 0; }
  section.connect .info-box .left {
    float: left;
    margin-left: 30px; }
  section.connect .info-box .right {
    float: right;
    margin-right: 50px; }
section.connect .icon-box {
  text-align: center;
  z-index: 14;
  position: absolute;
  width: 100%;
  bottom: 23%;
  left: 0; }
  section.connect .icon-box .icon {
    box-shadow: 0 0 0 3px white;
    overflow: hidden;
    -webkit-transition: background 0.3s, color 0.3s, box-shadow 0.3s, transform 0.3s;
    -moz-transition: background 0.3s, color 0.3s, box-shadow 0.3s, transform 0.3s;
    transition: background 0.3s, color 0.3s, box-shadow 0.3s, transform 0.3s;
    cursor: pointer;
    margin: 0px 5%;
    width: 70px;
    height: 70px;
    position: relative;
    text-align: center;
    display: inline-block; }
  section.connect .icon-box .fa {
    text-align: center;
    font-size: 27pt;
    line-height: 50pt;
    color: #fff; }
    section.connect .icon-box .fa.fa-paper-plane {
      margin-left: -7px; }
    section.connect .icon-box .fa.fa-facebook {
      margin-left: -5px; }
  section.connect .icon-box .icon:hover {
    background: white;
    box-shadow: 0 0 0 8px rgba(255, 255, 255, 0.3);
    -ms-transform: scale(0.9);
    /* IE 9 */
    -webkit-transform: scale(0.9);
    /* Safari */
    transform: scale(0.9); }
    section.connect .icon-box .icon:hover .fa {
      color: #1B75BB; }
  section.connect .icon-box .icon:hover .fa {
    -webkit-animation: toBottomFromTop 0.3s forwards;
    -moz-animation: toBottomFromTop 0.3s forwards;
    animation: toBottomFromTop 0.3s forwards; }

.landing-sect span {
  cursor: default;
  display: none; }
.landing-sect .title {
  position: absolute;
  left: 0;
  right: 0;
  margin: 0 auto;
  text-align: center;
  top: 30%;
  text-transform: uppercase;
  font-size: 30pt;
  letter-spacing: .5em;
  color: #51b6e5;
  font-weight: 300;
  padding-left: 53px;
  z-index: 5; }
  .landing-sect .title .highlight {
    color: #0e76bc;
    font-weight: 700; }
.landing-sect .tag-box {
  position: absolute;
  bottom: 30%;
  z-index: 99;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: .3em;
  margin: 0 auto;
  left: 0;
  right: 0;
  text-align: center;
  font-size: 15pt;
  font-weight: 300; }
  .landing-sect .tag-box .center {
    margin: 0 70px; }
.landing-sect.shutter {
  display: none; }

.square {
  text-align: center;
  color: #333;
  background: transparent;
  position: absolute;
  top: 42%;
  left: 42%;
  height: 16%;
  width: 16%; }
  .square .logo {
    cursor: pointer;
    width: 130px;
    position: absolute;
    top: 0px;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto auto;
    z-index: 99; }

.connect div {
  opacity: 0;
  transition: opacity .3s linear; }
.connect.active div {
  opacity: 1; }

.panel {
  position: absolute;
  cursor: pointer;
  -ms-transform: -ms-transform .3s;
  -webkit-transition: -webkit-transform .3s;
  transition: transform .3s; }
  .panel .header {
    font-size: 25pt;
    letter-spacing: .2em;
    position: absolute;
    font-weight: 700;
    text-transform: uppercase;
    opacity: 1;
    transition: opacity .1s, left .15s, right .3s; }
  .panel.p1 {
    background: #1894b8;
    z-index: 16;
    right: -42%;
    top: 0;
    width: 100%;
    height: 42%; }
    .panel.p1 .header {
      /*text-shadow: 1px 4px 6px #559B90, 0 0 0 #000, 1px 4px 6px #559B90;*/
      color: #A9EDFF;
      left: 20px;
      bottom: 15px; }
    .panel.p1.shutter {
      -ms-transform: translate(-42%, -100%);
      /* IE 9 */
      -webkit-transform: translate(-42%, -100%);
      /* Chrome, Safari, Opera */
      transform: translate(-42%, -100%); }
    .panel.p1.extend {
      -ms-transform: translate(-42%, 0);
      /* IE 9 */
      -webkit-transform: translate(-42%, 0);
      /* Chrome, Safari, Opera */
      transform: translate(-42%, 0); }
    .panel.p1.retract {
      -ms-transform: translate(0, -100%);
      /* IE 9 */
      -webkit-transform: translate(0, -100%);
      /* Chrome, Safari, Opera */
      transform: translate(0, -100%); }
  .panel.p2 {
    background: #0e566b;
    z-index: 15;
    right: 0;
    bottom: 0;
    width: 42%;
    height: 100%; }
    .panel.p2 .header {
      /*text-shadow: 1px 4px 6px #466661, 0 0 0 #000, 1px 4px 6px #466661;*/
      color: #49B9C0;
      top: 47%;
      left: 30px; }
    .panel.p2.shutter {
      -ms-transform: translateX(100%);
      /* IE 9 */
      -webkit-transform: translateX(100%);
      /* Chrome, Safari, Opera */
      transform: translateX(100%); }
  .panel.p3 {
    pointer-events: all;
    background: #20c2f1;
    z-index: 13;
    right: 0;
    bottom: -20%;
    width: 100%;
    height: 62%; }
    .panel.p3 .header {
      /*text-shadow: 1px 4px 6px #DFEBE9, 0 0 0 #000, 1px 4px 6px #DFEBE9;*/
      color: #1778AE;
      top: 15px;
      right: 43.5%;
      opacity: 1;
      transition: opacity .1s, left .15s, right .3s; }
    .panel.p3.extend .header {
      left: auto;
      right: 25px; }
    .panel.p3.start .header {
      opacity: 0; }
    .panel.p3.shutter {
      -ms-transform: translateY(100%);
      /* IE 9 */
      -webkit-transform: translateY(100%);
      /* Chrome, Safari, Opera */
      transform: translateY(100%); }
    .panel.p3.start {
      cursor: default;
      -ms-transform: translateY(-13%);
      /* IE 9 */
      -webkit-transform: translateY(-13%);
      /* Chrome, Safari, Opera */
      transform: translateY(-13%); }
  .panel.p4 {
    background: #b1e1ee;
    z-index: 12;
    left: 0;
    top: 0;
    width: 42%;
    height: 100%; }
    .panel.p4 .header {
      /*text-shadow: 1px 4px 6px #ACCBC5, 0 0 0 #000, 1px 4px 6px #ACCBC5;*/
      color: #208DAC;
      right: 25px;
      top: 47%; }
    .panel.p4.shutter {
      -ms-transform: translateX(-100%);
      /* IE 9 */
      -webkit-transform: translateX(-100%);
      /* Chrome, Safari, Opera */
      transform: translateX(-100%); }

.clear .header {
  opacity: 0 !important; }

@-webkit-keyframes toBottomFromTop {
  49% {
    -webkit-transform: translateY(100%); }
  50% {
    opacity: 0;
    -webkit-transform: translateY(-100%); }
  51% {
    opacity: 1; } }
@-moz-keyframes toBottomFromTop {
  49% {
    -moz-transform: translateY(100%); }
  50% {
    opacity: 0;
    -moz-transform: translateY(-100%); }
  51% {
    opacity: 1; } }
@keyframes toBottomFromTop {
  49% {
    transform: translateY(100%); }
  50% {
    opacity: 0;
    transform: translateY(-100%); }
  51% {
    opacity: 1; } }
@keyframes drift {
  0% {
    transform: translateX(0); }
  100% {
    transform: translateX(1920px); } }
@keyframes flyDown {
  0% {
    transform: translateY(-100vh); }
  100% {
    transform: translateY(0); } }
@keyframes flyUp {
  0% {
    transform: translateY(100vh); }
  100% {
    transform: translateY(0); } }
@keyframes flyLeft {
  0% {
    transform: translateX(50vw); }
  100% {
    transform: translateX(0); } }

/*# sourceMappingURL=style.css.map */
