html {
  overflow: hidden;
}

body {
  overflow: hidden;
  margin: 0;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  font-family: 'Open Sans';
}

a {
  text-decoration: none;
  color: #49b9c0;
}

.reveal-modal {
  //Foundation Overrides
  background-color: #3f3f3f !important;
  border: solid 1px #333 !important;
  top: 2% !important;
  padding-top: 40px !important;
  padding-bottom: 40px !important;
  outline: none;
  width: 90% !important;
  max-width: 90% !important;

  .info-box {
    padding-top: 15px;
  }

  .header {
    font-size:24pt;
    color: #81FFFF;
    a {
      color: #50D1F7;
    }
  }

  .detail {
    display: block;
    font-weight: 300;
    color: #eee;
    font-style: italic;
  }

  ul {
    margin-top: 15px;
    li {
      font-weight: 300;
      color: #eee;
    }
  }

  .carousel {
    -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.25);
    -moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.25);
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.25);
    overflow: hidden;
    height: 1px;
  }
  
  .slide img {
    width: 100%;
    height: 100%;
    padding: 0 1px;
    visibility: none;
  }

  .fa {
    position: absolute;
    bottom: 0;
    color: #fff;
    background: rgba(0,0,0,0.3);
    padding: 5px;
    cursor: pointer;
    z-index: 99;
    padding: 15px 20px;
    &.fa-chevron-left {
      left: 1px;
    }
    &.fa-chevron-right {
      right: 1px;
    }
  }

  .close-reveal-modal {
    top: -5px !important;
    right: 15px !important;
    color: #ccc !important;
    padding: 10px 15px;
    background: #222;
  }
}

.light {
  font-weight: 300;
}

.clouds {
  &.inverse {
    opacity: 0.1;
    z-index: 99;
    position: relative;
    -webkit-transform: scaleY(-1);
    transform: scaleY(-1);

    .cloud {
      pointer-events: none; 
      top: 0;
      top: -100vh;
    }
  }

  .cloud {
    height: 50vh;
    width: 8000px;
    left: -2000px;
    position: absolute;
  }

  #cloud-1 {
    background: url('../images/clouds1.png'); 
    background-repeat: repeat-x;
    background-position: bottom left;
    animation: drift 150s linear infinite;
    -webkit-animation: drift 150s linear infinite;
    z-index: 3;
  }

  #cloud-2 {
    background: url('../images/clouds2.png');
    background-repeat: repeat-x;
    background-position: bottom left;
    animation: drift 200s linear infinite;
    -webkit-animation: drift 200s linear infinite;
    z-index: 2;
  }

  #cloud-3 {
    background: url('../images/clouds3.png');
    background-repeat: repeat-x;
    background-position: bottom left;
    animation: drift 500s linear infinite;
    -webkit-animation: drift 500s linear infinite;
    background-color: #2f98b6;
    margin-top: -1px;
    z-index: 1;
  }
}

section.projects {
  display: none;
  margin: 0 auto;
  position: absolute;
  left: 0;
  right: 0;
  z-index: 11;
  height: 58%;

  .fa {
    position: absolute;
    color: #10517E;
    z-index: 11;
    bottom: 6vh;
    margin: auto 0;
    font-size: 30pt;
    height: 35px;
    cursor: pointer;

    &.fa-chevron-left {
      left: 35%;
      animation: bounceInLeft .35s ease-in;

    }
    &.fa-chevron-right {
      right: 35%;
      animation: bounceInRight .35s ease-in;
    }
  }

  .carousel {
    text-align: center;
    position: relative;

    .slick-dots {
      bottom: -70px;
    }

    .slick-next, .slick-prev {
      background: none;
      border: 0;
      outline: none;
      position: absolute;
      bottom: -20px;
      margin: auto;
      cursor: pointer;
    }
    .slick-prev {
      left: 0;
    }
    .slick-next {
      right: 0;
    }
    .slick-slide {
      outline: none;
      cursor: pointer;
      -webkit-filter: grayscale(100%);
      filter: grayscale(100%);
      filter: gray;
      transition: filter .7s linear;
      -webkit-transition: -webkit-filter .7s linear;
      overflow: hidden;
      position: relative;

      .slide-wrap {
        max-width: 600px;
        overflow: hidden;
        margin: 0 auto;
      }
      img {
        width: 100%;
        max-height: 350px;
      }

      .top {
        position: relative;
        transition: transform .4s ease;
        -webkit-transition: -webkit-transform .4s ease;
        z-index: 2;
        backface-visibility: hidden;
        transform: translateZ(0);
      }

      .bot {
        position: absolute;
        top: 0;
        left: 0;
        z-index: 1;
      }

      .slide-button {
        position: absolute;
        bottom: 10%;
        right: 0;
        left: 0;
        margin: 0 auto;
        text-align: center;
        color: #fff;
        z-index: 1;
        background-color: rgba(0,0,0,0.3);
        transition: background-color .7s;
        width: 36%;
        max-width: 170px;
        padding: 10px;

        &.lefty {
          right: 45%;
        }
        &.righty {
          left: 45%;
        }
        &:hover {
          background-color: rgba(0,0,0,0.5);
        }
      }

      &.slick-center {
        cursor: pointer;
        -webkit-filter: grayscale(0%);
        filter: grayscale(0%);
      }
    }
  }
  .slick-active {
    button {
      background-color: #333 !important;
    }
  }

  .slick-dots {
    list-style: none;
    display: block;
    margin: 0 auto;
    position: absolute;
    bottom: 100px;
    left: 0;
    right: 0;
    padding: 0;

    li {
      display: inline-block;
      margin: 0 10px;

      button {
        cursor: pointer;
        display: inline;
        border: 2px solid #333;
        background: transparent;
        border-radius: 50%;
        color: transparent;
        height: 2px;
        width: 2px;
        padding: 3px;
        outline: none;
        transition: background-color .2s;
      }
    }
  }
}

section.about {
  width: 42%;
  height: 100%;
  left: 3%;
  position: absolute;

  .about-box {
    display: none;
    position: absolute;
    top: 0;
    bottom: 0;
    height: 740px;
    width: 85%;
    margin: auto auto;
    z-index: 12;
    max-width: 550px;
    left: 0;
    right: 0;

    .myface {
      margin: 0 auto;
      margin-top: 50px;
      position: absolute;
      left: 0;
      right: 0;
      -webkit-animation: bounce .6s ease;
      animation: bounce .6s ease;
    }
    .up-arrow {
      display: block;
      margin: 25px auto;
      margin-top: 275px;
    }
    .header {
      display: block;
      text-align: center;
      font-size: 23pt;
      color: #49b9c0;
      margin-bottom: 15px;
      font-weight: 600;
    }
    .detail {
      display: block;
      font-size: 16pt;
      color: #555;
      margin-left: 20px;
      line-height: 24pt;
    }
  }
}



section.stack {
  width: 42%;
  right: 0;
  height: 100%;
  position: absolute;

  .badges-box {
    position: absolute;
    top: 0;
    bottom: 0;
    height: 615px;
    margin: auto auto;
    left: 0;
    right: 0;
    width: 345px;
  }

  .box {
    display: none;
    height: 125px;
    width: 115px;
    cursor: pointer;
    position: absolute;
    z-index: 99;

    &#box-1 { 
      top: 0; 
      left: 0; 
      animation: flyDown .45s;
      -webkit-animation: flyDown .45s;
      &.move .badge { 
        transform: translate(0,-100%);
        -webkit-transform: translate(0,-100%);
      }
    }
    &#box-2 { 
      top: 0; 
      left: 116px; 
      animation: flyUp .45s;
      -webkit-animation: flyUp .45s;
      &.move .badge { 
        transform: translate(100%,-50%);
        -webkit-transform: translate(100%,-50%);
      }
    }
    &#box-3 { 
      top: 98px;
      left: 58px;
      animation: flyLeft .45s;
      -webkit-animation: flyLeft .45s;
      &.move .badge { 
        transform: translate(-100%,50%);
        -webkit-transform: translate(-100%,50%);
      }
    }
    &#box-4 { 
      top: 196px;
      left: 117px;
      animation: flyDown .65s;
      -webkit-animation: flyDown .65s;
      &.move .badge { 
        transform: translate(-100%,50%);
        -webkit-transform: translate(-100%,50%);
      }
    }
    &#box-5 { 
      top: 196px;
      left: 235px;
      animation: flyUp .65s;
      -webkit-animation: flyUp .65s;
      &.move .badge { 
        transform: translate(0,-100%);
        -webkit-transform: translate(0,-100%);
      }
    }
    &#box-6 { 
      top: 293px;
      left: 175px;
      animation: flyLeft .65s;
      -webkit-animation: flyLeft .65s;
      &.move .badge { 
        transform: scale(0,0);
        -webkit-transform: scale(0,0);
      }
    }
    &#box-7 { 
      top: 388px;
      left: 117px;
      animation: flyDown .3s;
      -webkit-animation: flyDown .3s;
      &.move .badge { 
        transform: translate(-100%,-50%);
        -webkit-transform: translate(-100%,-50%);
      }
    }
    &#box-8 { 
      top: 388px;
      left: 237px;
      animation: flyUp .3s;
      -webkit-animation: flyUp .3s;
      &.move .badge { 
        transform: translate(100%,0);
        -webkit-transform: translate(100%,0);
      }
    }
    &#box-9 { 
      top: 487px;
      left: 59px;
      animation: flyLeft .3s;
      -webkit-animation: flyLeft .3s;
      &.move .badge { 
        transform: translate(-100%,0);
        -webkit-transform: translate(-100%,0);
      }
    }
    &#box-10 { 
      top: 487px;
      left: 177px;
      animation: flyUp .45s;
      -webkit-animation: flyUp .45s;
      &.move .badge { 
        transform: translate(0,100%);
        -webkit-transform: translate(0,100%);
      }
    }
    .badge {
      width: 100%;
      height: 100%;
      transition: transform .2s;
      -webkit-transition: -webkit-transform .2s;
      position: relative;
      z-index: 2;
      @for $i from 1 through 10 {
        &#badge-#{$i}  {
          background: url('../images/badges/badge#{$i}.png');
          background-size: 100%;
          background-repeat: no-repeat;
        }
      }
    }
    span {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      margin: auto auto;
      text-align: center;
      line-height: 104pt;
      font-size: 14pt;
      color: #fff;
      z-index: 1;
    }
  }
}

section.connect {
  .info-box {
    position: absolute;
    width: 100%;
    bottom: 20px;
    z-index: 14;
    color: #fff;
    letter-spacing: .1em;
    font-weight: 300;
    font-size: 10pt;
    left: 0;
    transition: opacity .3s linear;

    .left {
      float: left;
      margin-left: 30px;
    }

    .right {
      float: right;
      margin-right: 50px;
    }
  }

  .icon-box {
    text-align: center;
    z-index: 14;
    position: absolute;
    width: 100%;
    bottom: 23%;
    left: 0;

    .icon {
      box-shadow: 0 0 0 3px rgba(255,255,255,1);
      overflow: hidden;
      display: none;
      -webkit-transition: background 0.3s, color 0.3s, box-shadow 0.3s, -webkit-transform 0.3s;
      -moz-transition: background 0.3s, color 0.3s, box-shadow 0.3s, transform 0.3s;
      transition: background 0.3s, color 0.3s, box-shadow 0.3s, transform 0.3s;
      cursor: pointer;
      margin: 0px 5%;
      width: 70px;
      height: 70px;
      position: relative;
      text-align: center;
      &.pop-in {
        animation: popIn .5s ease;
      }
    }

    .fa {
      text-align: center;
      font-size: 27pt;
      line-height: 50pt;
      color: #fff;

      &.fa-paper-plane {
        margin-left: -7px;
      }
      &.fa-facebook {
        margin-left: -5px;
      }
    }

    .icon:hover {
      background: rgba(255,255,255,1);
      box-shadow: 0 0 0 8px rgba(255,255,255,0.3);
      -ms-transform: scale(0.9);
      -webkit-transform: scale(0.9); /* Safari */
      transform: scale(0.9);

      .fa {
        color: #1B75BB;
      }
    }

    .icon:hover .fa {
      -webkit-animation: toBottomFromTop 0.3s forwards;
      -moz-animation: toBottomFromTop 0.3s forwards;
      animation: toBottomFromTop 0.3s forwards;
    }
  }
}

.connect {
  .info-box, .icon-box {
    opacity: 0;
    transition: opacity .3s linear;
  }
  &.active {
    .info-box, .icon-box {
      opacity: 1;
      .icon {
        display: inline-block;
      }
    }
  }
}

.landing-sect {
  span {
    cursor: default;
    opacity: 0;
    transition: opacity 8s;
    -webkit-transition: opacity 8s; 
  }

  .title {
    position: absolute;
    left: 0;
    right: 0;
    margin: 0 auto;
    text-align: center;
    top: 30%;
    text-transform: uppercase;
    font-size: 30pt;
    letter-spacing: .5em;
    color: #51b6e5;
    font-weight: 300;
    padding-left: 53px;
    z-index: 5;

    .highlight {
      color: #0e76bc;
      font-weight: 700;
    }
  }

  .tag-box {
    position: absolute;
    bottom: 30%;
    z-index: 99;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: .3em;
    margin: 0 auto;
    left: 0;
    right: 0;
    text-align: center;
    font-size: 14pt;
    font-weight: 300;

    .center {
      margin: 0 70px;
    }
  }

  &.shutter {
    display: none;
  }
}

.square {
  text-align: center;
  color: #333;
  background: transparent;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto auto;
  height: 16%;
  width: 16%;

  .logo {
    cursor: pointer;
    height: 8vw;
    max-height: 110px;
    min-height: 81px;
    min-width: 81px;
    position: absolute;
    top: -2px;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto auto;
    z-index: 99;
    transition: filter .4s linear;
    -webkit-transition: -webkit-filter .4s linear;
    &:hover {
      -webkit-filter: saturate(200%);
      filter: saturate(200%);
    }
    &.shake {
      animation: shake 8s infinite;
      -webkit-animation: shake 8s infinite;
    }
  }
}

.pane {
  position: absolute;
  cursor: pointer;
  -ms-transform: -ms-transform .3s;
  -webkit-transition: -webkit-transform .3s;
  transition: transform .3s;

  .header {
    font-size: 25pt;
    letter-spacing: .2em;
    position: absolute;
    font-weight: 700;
    text-transform: uppercase;
    opacity: 1;
    transition: opacity .1s, left .15s, right .3s;
  }

  &.p1 {
    background: #1894b8;
    background-image: -moz-linear-gradient( 72deg, rgb(23,137,170) 0%, rgb(24,158,174) 100%);
    background-image: -webkit-linear-gradient( 72deg, rgb(23,137,170) 0%, rgb(24,158,174) 100%);
    background-image: -ms-linear-gradient( 72deg, rgb(23,137,170) 0%, rgb(24,158,174) 100%);
    position: absolute;
    z-index: 16;
    -webkit-transform: translateX(42%);
    transform: translateX(42%);
    top: 0;
    width: 100%;
    height: 42vh; 
    transition: opacity .1s, transform .3s, right .3s;
    -webkit-transition: opacity .1s, -webkit-transform .3s, right .3s;

    .header {
      color: #A9EDFF;
      left: 35px;
      bottom: 25px;
    }

    &.shutter {
      -ms-transform: translate(0, -100%);
      -webkit-transform: translate(0, -100%);
      transform: translate(0, -100%);
    }

    &.extend {
      -ms-transform: translate(0, 0);
      -webkit-transform: translate(0, 0);
      transform: translate(0, 0);
    }

    &.retract {
      -ms-transform: translate(42%, -100%);
      -webkit-transform: translate(42%, -100%);
      transform: translate(42%, -100%);
    }
  }

  &.p2 {
    background: #0e566b;
    background-image: -moz-linear-gradient( -48deg, rgb(14,86,107) 0%, rgba(14,86,107,0.78) 43%, rgba(17,124,137,0.4902) 100%);
    background-image: -webkit-linear-gradient( -48deg, rgb(14,86,107) 0%, rgba(14,86,107,0.78) 43%, rgba(17,124,137,0.4902) 100%);
    background-image: -ms-linear-gradient( -48deg, rgb(14,86,107) 0%, rgba(14,86,107,0.78) 43%, rgba(17,124,137,0.4902) 100%);
    z-index: 15;
    right: 0;
    bottom: 0;
    width: 42%;
    height: 100%;

    .header {
      color: #49B9C0;
      top: 47%;
      left: 30px;
    }

    &.shutter {
      -ms-transform: translateX(100%);
      -webkit-transform: translateX(100%);
      transform: translateX(100%);
    }
  }

  &.p3 {
    pointer-events: all;
    background: #20c2f1;
    background-image: -moz-linear-gradient( 75deg, rgb(32,170,241) 0%, rgb(32,194,241) 56%, rgb(127,225,253) 100%);
    background-image: -webkit-linear-gradient( 75deg, rgb(32,170,241) 0%, rgb(32,194,241) 56%, rgb(127,225,253) 100%);
    background-image: -ms-linear-gradient( 75deg, rgb(32,170,241) 0%, rgb(32,194,241) 56%, rgb(127,225,253) 100%);
    z-index: 13;
    bottom: -20%;
    width: 100%;
    -webkit-transform: translateX(-42%);
    transform: translateX(-42%);
    height: 62vh;
    transition: opacity .1s, transform .3s, right .3s;
    -webkit-transition: opacity .1s, -webkit-transform .3s, right .3s;

    .header {
      color: #1778AE;
      top: 25px;
      right: 35px;
      opacity: 1;
    }

    &.extend .header {
      left: auto;
    }

    &.extend {
      -webkit-transform: translateX(0);
      transform: translateX(0);
    }

    &.start .header {
      opacity: 0;
    }

    &.shutter {
      -ms-transform: translate(-42%, 100%);
      -webkit-transform: translate(-42%, 100%);
      transform: translate(-42%, 100%);
    }

    &.start {
      cursor: default;
      -ms-transform: translateY(-13%);
      -webkit-transform: translateY(-13%);
      transform: translateY(-13%);
    }
  }

  &.p4 {
    background: #b1e1ee;
    background-image: -moz-linear-gradient( 138deg, rgb(162,219,234) 0%, rgb(210,253,255) 71%);
    background-image: -webkit-linear-gradient( 138deg, rgb(162,219,234) 0%, rgb(210,253,255) 71%);
    background-image: -ms-linear-gradient( 138deg, rgb(162,219,234) 0%, rgb(210,253,255) 71%);
    z-index: 12;
    left: 0;
    top: 0;
    width: 42%;
    height: 100%;

    .header {
      color: #208DAC;
      right: 35px;
      top: 47%;
    }

    &.shutter {
      -ms-transform: translateX(-100%);
      -webkit-transform: translateX(-100%);
      transform: translateX(-100%);
    }
  }
}

.clear {
  .header {
    opacity: 0 !important;
  }
}

// MEDIA QUERIES
@media only screen and (max-width: 70em), screen and (max-height: 55em)  {
  .pane {
    .header {
      font-size: 20pt;
    }
  }

  section.about .about-box .detail {
    font-size: 12pt;
    line-height: 21pt;
  }

  section.stack {
    .badges-box {
      height: 535px;
      width: 305px;

      .box {
        height: 110px;
        width: 100px;

        span {
          line-height: 85pt;
          font-size: 13pt;
        }

        &#box-2 {
          left: 101px;
        }
        &#box-3 {
          top: 85px;
          left: 50px;
        }
        &#box-4 {
          top: 169px;
          left: 102px;
        }
        &#box-5 {
          top: 171px;
          left: 205px;
        }
        &#box-6 {
          top: 254px;
          left: 152px;
        }
        &#box-7 {
          top: 339px;
          left: 102px;
        }
        &#box-8 {
          top: 339px;
          left: 205px;
        }
        &#box-9 {
          top: 425px;
          left: 49px;
        }
        &#box-10 {
          top: 425px;
          left: 153px;
        }
      }
    }
  }
}

@media only screen and (max-width: 64.063em){
  .landing-sect .tag-box {
    span {
      font-size: 10pt;
    }
    .center {
      margin: 0 30px;
    }
  }
}

@media only screen and (max-width: 50em){
  .slick-dots {
    visibility: hidden;
  }
  section.about .about-box {
    width: 95%;

    .header {
      font-size: 16pt;
    }
    .detail {
      font-size: 10pt;
      line-height: 15pt;
    }
  }

  section.connect {
    .icon-box .icon {
      margin: 0 3%;
    }
    .info-box {
      .left {
        display: block;
      }
      .right {
        float: left !important;
        margin-left: 30px;
        display: block;
      }
    }
  }
  .landing-sect {
    .title {
      font-size: 20pt;
      padding-left: 10px;
    }
    .tag-box {
      margin-bottom: -40px;
      .center {
        margin: 30px 0 0 0;
      }
      span {
        font-size: 10pt;
        display: block;
        margin-top: 30px;
      }
    }
  }
  .pane {
    .header {
      font-size: 16pt;
    }
  }

  section.stack {
    .badges-box {
      height: 410px;
      width: 235px;

      .box {
        height: 85px;
        width: 78px;

        span {
          line-height: 65pt;
          font-size: 10pt;
        }

        &#box-2 {
          left: 80px;
        }
        &#box-3 {
          top: 65px;
          left: 40px;
        }
        &#box-4 {
          top: 129px;
          left: 80px;
        }
        &#box-5 {
          top: 131px;
          left: 160px;
        }
        &#box-6 {
          top: 195px;
          left: 118px;
        }
        &#box-7 {
          top: 259px;
          left: 78px;
        }
        &#box-8 {
          top: 259px;
          left: 159px;
        }
        &#box-9 {
          top: 326px;
          left: 39px;
        }
        &#box-10 {
          top: 327px;
          left: 119px;
        }
      }
    }
  }
}

@media only screen and (max-width: 40em){
  section.connect {
    .icon-box .icon {
      margin: 0 1%;
    }
  }
}

//VANILLA
@keyframes drift {
  0% { transform: translateX(0); }
  100% { transform: translateX(1920px); }
}

@keyframes bounce {
  from, 60%, 75%, 90%, 100% {
    animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
  }
  0% {
    opacity: 0;
    transform: translate3d(0, -3000px, 0);
  }
  60% {
    opacity: 1;
    transform: translate3d(0, 25px, 0);
  }
  75% {
    transform: translate3d(0, -10px, 0);
  }
  90% {
    transform: translate3d(0, 5px, 0);
  }
  100% {
    transform: none;
  }
}

@keyframes toBottomFromTop {
  49% {
    transform: translateY(100%);
  }
  50% {
    opacity: 0;
    transform: translateY(-100%);
  }
  51% {
    opacity: 1;
  }
}

@keyframes toBottomFromTop {
  49% {
    transform: translateY(100%);
  }
  50% {
    opacity: 0;
    transform: translateY(-100%);
  }
  51% {
    opacity: 1;
  }
}

@keyframes flyDown {
  0% {
    transform: translateY(-100vh);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes flyUp {
  0% {
    transform: translateY(100vh);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes flyLeft {
  0% {
    transform: translateX(50vw);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes flyRight {
  0% {
    transform: translateX(-50vw);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes bounceInLeft {
  20% {
    transform: translateX(-50vw);
  }
  50% {
    transform: translateX(0);
  }
  75% {
    transform: translateX(-3vw);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes bounceInRight {
  20% {
    transform: translateX(50vw);
  }
  50% {
    transform: translateX(0);
  }
  75% {
    transform: translateX(3vw);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes popIn {
  0% {
    transform: scale(0,0);
  }
  50% {
    transform: scale(1.2,1.2)
  }
  70% {
    transform: scale(0.9, 0.9)
  }
  100% {
    transform: scale(1, 1)
  }
}

@keyframes shake {
  0% { transform: translate(2px, 1px)  }
  95% { transform: translate(2px, 1px) rotate(0deg); }
  95.5% { transform: translate(-1px, -2px) rotate(-1deg); }
  96% { transform: translate(-3px, 0px) rotate(1deg); }
  96.5% { transform: translate(0px, 2px) rotate(0deg); }
  97% { transform: translate(1px, -1px) rotate(1deg); }
  97.5% { transform: translate(-1px, 2px) rotate(-1deg); }
  98% { transform: translate(-3px, 1px) rotate(0deg); }
  98.5% { transform: translate(2px, 1px) rotate(-1deg); }
  99% { transform: translate(-1px, -1px) rotate(1deg); }
  99.5% { transform: translate(2px, 2px) rotate(0deg); }
  100% { transform: translate(1px, -2px) rotate(-1deg); }
}

//WEBKITS
@-webkit-keyframes drift {
  0% { -webkit-transform: translateX(0); }
  100% { -webkit-transform: translateX(1920px); }
}

@-webkit-keyframes bounce {
  from, 60%, 75%, 90%, 100% {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
  }
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -3000px, 0);
    transform: translate3d(0, -3000px, 0);
  }
  60% {
    opacity: 1;
    -webkit-transform: translate3d(0, 25px, 0);
    transform: translate3d(0, 25px, 0);
  }
  75% {
    -webkit-transform: translate3d(0, -10px, 0);
    transform: translate3d(0, -10px, 0);
  }
  90% {
    -webkit-transform: translate3d(0, 5px, 0);
    transform: translate3d(0, 5px, 0);
  }
  100% {
    -webkit-transform: none;
    transform: none;
  }
}

@-webkit-keyframes toBottomFromTop {
  49% {
    -webkit-transform: translateY(100%);
  }
  50% {
    opacity: 0;
    -webkit-transform: translateY(-100%);
  }
  51% {
    opacity: 1;
  }
}
@-moz-keyframes toBottomFromTop {
  49% {
    -webkit-transform: translateY(100%);
  }
  50% {
    opacity: 0;
    -webkit-transform: translateY(-100%);
  }
  51% {
    opacity: 1;
  }
}
@-webkit-keyframes toBottomFromTop {
  49% {
    -webkit-transform: translateY(100%);
  }
  50% {
    opacity: 0;
    -webkit-transform: translateY(-100%);
  }
  51% {
    opacity: 1;
  }
}

@-webkit-keyframes flyDown {
  0% {
    -webkit-transform: translateY(-100vh);
  }
  100% {
    -webkit-transform: translateY(0);
  }
}

@-webkit-keyframes flyUp {
  0% {
    -webkit-transform: translateY(100vh);
  }
  100% {
    -webkit-transform: translateY(0);
  }
}

@-webkit-keyframes flyLeft {
  0% {
    -webkit-transform: translateX(50vw);
  }
  100% {
    -webkit-transform: translateX(0);
  }
}

@-webkit-keyframes flyRight {
  0% {
    -webkit-transform: translateX(-50vw);
  }
  100% {
    -webkit-transform: translateX(0);
  }
}

@-webkit-keyframes bounceInLeft {
  20% {
    -webkit-transform: translateX(50vw);
  }
  50% {
    -webkit-transform: translateX(0);
  }
  75% {
    -webkit-transform: translateX(3vw);
  }
  100% {
    -webkit-transform: translateX(0);
  }
}

@-webkit-keyframes bounceInRight {
  20% {
    -webkit-transform: translateX(-50vw);
  }
  50% {
    -webkit-transform: translateX(0);
  }
  75% {
    -webkit-transform: translateX(-3vw);
  }
  100% {
    -webkit-transform: translateX(0);
  }
}

@-webkit-keyframes popIn {
  0% {
    -webkit-transform: scale(0,0);
  }
  50% {
    -webkit-transform: scale(1.2,1.2)
  }
  70% {
    -webkit-transform: scale(0.9, 0.9)
  }
  100% {
    -webkit-transform: scale(1, 1)
  }
}

@-webkit-keyframes shake {
  95% { -webkit-transform: translate(2px, 1px) rotate(0deg); }
  95.5% { -webkit-transform: translate(-1px, -2px) rotate(-1deg); }
  96% { -webkit-transform: translate(-3px, 0px) rotate(1deg); }
  96.5% { -webkit-transform: translate(0px, 2px) rotate(0deg); }
  97% { -webkit-transform: translate(1px, -1px) rotate(1deg); }
  97.5% { -webkit-transform: translate(-1px, 2px) rotate(-1deg); }
  98% { -webkit-transform: translate(-3px, 1px) rotate(0deg); }
  98.5% { -webkit-transform: translate(2px, 1px) rotate(-1deg); }
  99% { -webkit-transform: translate(-1px, -1px) rotate(1deg); }
  99.5% { -webkit-transform: translate(2px, 2px) rotate(0deg); }
  100% { -webkit-transform: translate(1px, -2px) rotate(-1deg); }
}

